/* S Font */
@font-face {
  font-family: 'ff1';
  src:url(../fonts/roboto/f1Roboto-Black.ttf);
}
.ff1{
	font-family:ff1 !important;	
}
@font-face {
  font-family: 'ff2';
  src:url(../fonts/roboto/f2Roboto-BlackItalic.ttf);
}
.ff2{
	font-family:ff2 !important;	
}
@font-face {
  font-family: 'ff3';
  src:url(../fonts/roboto/f3Roboto-Bold.ttf);
}
.ff3{
	font-family:ff3 !important;	
}
@font-face {
  font-family: 'ff4';
  src:url(../fonts/roboto/f4Roboto-BoldItalic.ttf);
}
.ff4{
	font-family:ff4 !important;	
}
@font-face {
  font-family: 'ff5';
  src:url(../fonts/roboto/f5RobotoCondensed-Bold.ttf);
}
.ff5{
	font-family:ff5 !important;	
}
@font-face {
  font-family: 'ff6';
  src:url(../fonts/roboto/f6RobotoCondensed-BoldItalic.ttf);
}
.ff6{
	font-family:ff6 !important;	
}
@font-face {
  font-family: 'ff7';
  src:url(../fonts/roboto/f7RobotoCondensed-Italic.ttf);
}
.ff7{
	font-family:ff7 !important;	
}
@font-face {
  font-family: 'ff8';
  src:url(../fonts/roboto/f8RobotoCondensed-Light.ttf);
}
.ff8{
	font-family:ff8 !important;	
}
@font-face {
  font-family: 'ff9';
  src:url(../fonts/roboto/f9RobotoCondensed-LightItalic.ttf);
}
.ff9{
	font-family:ff9 !important;	
}
@font-face {
  font-family: 'ff10';
  src:url(../fonts/roboto/f10RobotoCondensed-Regular.ttf);
}
.ff10{
	font-family:ff10 !important;	
}
@font-face {
  font-family: 'ff11';
  src:url(../fonts/roboto/f11Roboto-Italic.ttf);
}
.ff11{
	font-family:ff11 !important;	
}
@font-face {
  font-family: 'ff12';
  src:url(../fonts/roboto/f12Roboto-Light.ttf);
}
.ff12{
	font-family:ff12 !important;	
}
@font-face {
  font-family: 'ff13';
  src:url(../fonts/roboto/f13Roboto-LightItalic.ttf);
}
.ff13{
	font-family:ff13 !important;	
}
@font-face {
  font-family: 'ff14';
  src:url(../fonts/roboto/f14Roboto-Medium.ttf);
}
.ff14{
	font-family:ff14 !important;	
}
@font-face {
  font-family: 'ff15';
  src:url(../fonts/roboto/f15Roboto-MediumItalic.ttf);
}
.ff15{
	font-family:ff15 !important;	
}
@font-face {
  font-family: 'ff16';
  src:url(../fonts/roboto/f16Roboto-Regular.ttf);
}
.ff16{
	font-family:ff16 !important;	
}
@font-face {
  font-family: 'ff17';
  src:url(../fonts/roboto/f17Roboto-Thin.ttf);
}
.ff17{
	font-family:ff17 !important;	
}
@font-face {
  font-family: 'ff18';
  src:url(../fonts/roboto/f18Roboto-ThinItalic.ttf);
}
.ff18{
	font-family:ff18 !important;	
}
/* E font */
